<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moviesite</title>
    <style>
        h1{color: rgb(255, 0, 0);}
        
        a{text-decoration: none;color: darkblue;} 
        div{display: flex; flex-wrap: wrap; gap: 25px;} /*flex to display movies horiz,wrap to move to nxt line when full*/
    </style>
</head>
<body>
    <h1>ALL MOVIES</h1>
    
    <form method="GET"> <!--for search movie and filter category-->
        <input type="text" name="q" value="{{query|default:''}}"> <!--query passed from movie_list view,default to set searchbox default value null-->
        <button type="submit">Search</button>
        
        <select name = "category">
        <option value="">All</option> <!--shows all options-->
            {% for c in categories %} 
                <option value="{{c.id}}">{{c.genre}}</option>  <!--each option value means its id,c.genre gives category name-->
            {% endfor %}
        </select> 
        <button type="submit">Filter</button>
    </form>
    
    <div>
    {% for movie in movies %}
    <ul>        
        <h2>{{ movie.title }}</h2>
        <img src="{{ movie.poster.url }}" alt="{{movie.title}}" width="230" height="200">
        <h3>{{ movie.category.genre }}</h3>
        <a href="{% url 'movie_detail' movie.id %}">View details</a>  <!--details pg of movie-->       
    </ul>
    {% empty %}  <!--if no movies added-->
        <p>No movies found</p>
    {% endfor %}
    </div>
    
    <h3 style="text-align:center;"><a href="{% url 'add_movie' %}">ADD NEW MOVIE</a></h3>
    <h4 style="text-align:center;"><a href="{% url 'edit_profile' %}">Edit Profile</a></h4>
    <p align="center"><a href="{% url 'logout' %}">Logout</a></p>
</body>
</html>